:root {
    --cor-primaria: white;
    --cor-secundaria: #0A3871;
    --cor-teciaria: #E5E5E5;
    --cor-quartenaria: #D8DFE8;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--cor-teciaria);
}

* {
    font-family: "Inter", sans-serif;
}

.conteudo-pagina, main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
}


.sessao-input {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

textarea {
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--cor-secundaria);
    height: 60vh;
    font-size: 2rem;
}

::placeholder {
    color: var(--cor-secundaria);
    font-size: 2.5rem;
    text-shadow: .2rem .2rem .5rem grey; 
}

.small {
    font-size: small;
}

p {
    display: flex;
    gap: .5rem;
}

.botoes {
    display: flex;
    gap: 1.5rem;
}

button {
    border-color: var(--cor-secundaria);
    border-radius: 1.5rem;
    padding: 1.5rem 7rem;
    font-size: .8rem;
}

.botao-azul {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}

.botao-azul:hover {
    background-color: #0d2f5b;
    border-color: #0d2f5b;
}

.botao-sem-fundo {
    background-color: transparent;
    color: var(--cor-secundaria);

}

.botao-sem-fundo:hover {
    background-color: #cbcbcb;
    border-color: #cbcbcb;

}

.sessao-output {
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 50vh;
    height: 90vh;
    border-radius: 7%;
    margin: auto;
    gap: 2.9rem;
}

.output-texto {
    color: var(--cor-quartenaria);
    font-size: 1.5rem;
}

.output-conteudo {
    padding: 1.5rem;
}